form {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50vh;
    transform: translate(-50%, -50%);
    
    color: #213547;
    background-color: rgba(235, 235, 235);
    text-shadow: 1px 2px 2px rgb(0, 0, 0, 0.2);
    padding: 1.5%;

    border-radius: 2px;
}

.formTitle {
    text-decoration: underline;
    margin-top: -2%;
}

.credential {
    width: 100%;
}

.feedback {
    color: red;
    font-size: 2vh;
    font-style: italic;
}

.field {
    position: relative;
    right: -5%;
    font-family: "EB Garamond", serif;
    font-size: 2vh;
}

input[type = "submit"] {
    width: 100%;
    border: 0px;
    font-size: 80%;
    margin-top: 2%;

    font-family: "EB Garamond", serif;
    font-size: 2vh;
}

input[type = "submit"]:hover {
    background-color: rgb(0, 0, 0, 0.8);
}