/*
  Structures the main playable screen including containers for other components.
  Applies some styling that is relevant across many component types.
*/
#playScreen {
  /* This makes the background image fill the height of the screen, not worrying about width. */
  background-image: url('../assets/calm_sea_blurred.png');
  background-size: cover;
  background-position-y: 90%;

  /* This makes the div fill up the entire screen. */
  position: fixed;
  inset: 0;

  overflow-y: auto; /* without this the user cannot scroll down */
}

h1 {
  background-color: rgb(0, 0, 0, 0.5);
  margin: 0;
  padding: 0.25%;
  padding-left: 20%;
}

#backToTitle {
  user-select: none;
  text-decoration-line: none;
  color: white;
  font-weight: bold;
  text-shadow: 3px 5px 10px black, 0 0 10px white;
}

#information {
  display: flex;
  padding-top: 0.5%;
}

#options {
  display: flex;
  flex-wrap: wrap;

  margin-right: 20.25%;
  margin-left: 20.25%;
  margin-top: 0.5%;
}

#locations, #description, #items, .option {
  margin: 0.25%;
  border-radius: 5px;
}

#locations {
  width: 15%;
  margin-left: 5%;
  text-align: right;
}
#items {
  width: 15%;
  margin-right: 5%;
}

#description {
  width: 60%;
  padding: 1%;
  background-color: rgba(235, 235, 235);
}
#description > p {
  margin-left:10%;
  width: 80%;
  /* text-indent: 5%; */
}

h1, #description, .option {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
}