/*
  Styles the sidebar lists for locations & items.
*/
.location, .item {
  cursor: pointer;
  /* border-radius: 5px; */
  padding-right: 6px;
  padding-left: 6px;

  transition: padding 0.25s;
  white-space: nowrap; /* if text is too long, it still only takes one line. keep an eye on this, it might break things. but I think it looks better. */
}

.location:hover:not(.currentLocation) {
  color: white;
  text-shadow: 1px 1px 2px rgb(255, 255, 255, 0.5);

  background: linear-gradient(
    to right,
    rgb(0, 0, 0, 0) 0%,
    rgb(0, 0, 0, 0.5) 100%
  );
}

.item:hover:not(.currentItem) {
  color: white;
  text-shadow: 1px 1px 2px rgb(255, 255, 255, 0.5);

  background: linear-gradient(
    to left,
    rgb(0, 0, 0, 0) 0%,
    rgb(0, 0, 0, 0.5) 100%
  );
}

.currentLocation {
  background: linear-gradient(
    to right,
    rgb(0, 0, 0, 0) 10%,
    rgb(255, 255, 255, 0.75) 90%
  );

  text-decoration-line: underline; /* unsure if I should keep this */
  padding-right: 8%;
}

.currentItem {
  background: linear-gradient(
    to left,
    rgb(0, 0, 0, 0) 10%,
    rgb(255, 255, 255, 0.75) 90%
  );

  text-decoration-line: underline; /* unsure if I should keep this */
  padding-left: 8%;
}