#titleScreen {
    /* This makes the background image fill the height of the screen, not worrying about width. */
    background-image: url('../assets/the_much_resounding_sea_1967.9.1.jpg');
    background-size: auto 100vh;

    /* This makes the div fill up the entire screen. */
    position: fixed;
    inset: 0;

    animation: wander 20s ease-in-out infinite;
}

@keyframes wander {
    /* moves the photo back & forth */
    50% {
        background-position:100%, 0%;
        background-size: auto 110vh;
    }
}

#titleElements {
    position: absolute;
    bottom: 10%;
    left: 0%;
    padding: 2%;
    border-radius: 10px;

    user-select: none;
    
    color: white;
    font-weight: bold;
    text-shadow: 3px 5px 10px black, 0 0 10px white; /* glows AND has a shadow, super cool!! */
    
    background: linear-gradient(
        rgb(0, 0, 0, 0) 0%,
        rgb(0, 0, 0, 0.5) 10%,
        rgb(0, 0, 0, 0.1) 90%,
        rgb(0, 0, 0, 0)
    );
    
    /* should I keep this? might want to tone this affect down */
    animation: shine 4s ease-in-out infinite;
}

@keyframes shine {
    /* by offsetting and changing the intensity of the white and black text shadows, it creates shining affect */
    50% {
        text-shadow: -3px 5px 4px black, 2px -2px 60px white;
    }
}

#titleName {
    font-size: 12.5vh;
}

#titleBegin, #titleAbout {
    font-size: 4.1vh;
    font-weight: 600;
    color: white;
    margin: 3%;
    text-shadow: 2px 3px 8px black;
    text-decoration-line: none;

    transition: all 0.5s ease-out;
}

#titleBegin:hover, #titleAbout:hover {
    /* glow, underline, and move to the right when selected */
    text-decoration-line:underline;
    text-shadow: 0 0 2px #fff;
    padding-left: 4%;
}