#root {
  font-family: "EB Garamond", serif;
  color: #213547;
  background-color: #ffffff;

  font-size: 1.8vw;

}

#description > p {
  margin-left:10%;
  width: 80%;
  /* text-indent: 5%; */
  /* border: 1px solid black; */
}

h1 {
  background-color: rgb(0, 0, 0, 0.5);
  margin: 0;
  padding: 0.25%;
  padding-left: 20%;
}

#backToTitle {
  user-select: none;
  text-decoration-line: none;
  color: white;
  font-weight: bold;
  text-shadow: 3px 5px 10px black, 0 0 10px white;
}


#information {
  display: flex;
  padding-top: 0.5%;
}

#locations, #description, #items, .option {
  margin: 0.25%;
  border-radius: 5px;
}

#locations {
  width: 15%;
  margin-left: 5%;
  text-align: right;
}

#description {
  width: 60%;
  padding: 1%;
  background-color: rgba(235, 235, 235);
}

#items {
  width: 15%;
  margin-right: 5%;
}



#options {
  display: flex;
  flex-wrap: wrap;

  margin-right: 20.25%;
  margin-left: 20.25%;
  margin-top: 0.5%;
}

.option {
  width: 47.5%; /* leave 0.5 for horizontal space of margins & padding */
  padding: 1%;
  cursor: pointer;
  color: white;
  background-color: rgb(0, 0, 0, 0.5);
  text-shadow: 1px 1px 2px rgb(255, 255, 255, 0.8);
  transition: background-color 0.25s;

  text-align: center;
}

.option:hover:not(.locked) {
  color: #213547;
  background-color: rgba(235, 235, 235);
  text-shadow: 1px 2px 2px rgb(0, 0, 0, 0.2);
}

.option > span {
  font-size: 2.5vh;
}
.option > hr {
  margin-bottom: 1%;
  margin-top: 0%;
}
.finalOption {
  width: 98%;
  text-align: center;
  /* I'm not sure if I like this */
}

.locked {
  cursor:default;
  opacity: 0.3;
}

.location, .item {
  cursor: pointer;
  /* border-radius: 5px; */
  padding-right: 6px;
  padding-left: 6px;

  transition: padding 0.25s;
  white-space: nowrap; /* if text is too long, it still only takes one line. keep an eye on this, it might break things. but I think it looks better. */
}

/* .location { transiton: padding-right: 0.25s} */

.location:hover:not(.currentLocation) {
  color: white;
  text-shadow: 1px 1px 2px rgb(255, 255, 255, 0.5);

  background: linear-gradient(
    to right,
    rgb(0, 0, 0, 0) 0%,
    rgb(0, 0, 0, 0.5) 100%
  );
}

.item:hover:not(.currentItem) {
  color: white;
  text-shadow: 1px 1px 2px rgb(255, 255, 255, 0.5);

  background: linear-gradient(
    to left,
    rgb(0, 0, 0, 0) 0%,
    rgb(0, 0, 0, 0.5) 100%
  );
}

.currentLocation {
  background: linear-gradient(
    to right,
    rgb(0, 0, 0, 0) 10%,
    rgb(255, 255, 255, 0.75) 90%
  );

  text-decoration-line: underline; /* unsure if I should keep this */
  padding-right: 8%;
}

.currentItem {
  background: linear-gradient(
    to left,
    rgb(0, 0, 0, 0) 10%,
    rgb(255, 255, 255, 0.75) 90%
  );

  text-decoration-line: underline; /* unsure if I should keep this */
  padding-left: 8%;
}


h1, #description, .option {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
}