:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */

  font-family: "EB Garamond", serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  
  color: #213547;
  background-color: #ffffff;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

p {
  width: 50%;
  margin: auto;
  text-align: left;
  font-size: 1.2em;
}